In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ukrainian-airspace/ukraineflights.csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/kaggle/input/ukrainian-airspace/ukraineflights.csv')
df.head()

,5110c8,ATG2101,Estonia,2022-02-22 15:28:35,2022-02-22 15:28:35.1,27.1995,45.5531,4884.42,False,122.59,224.49,0.0,Unnamed: 12,4823.46,5565,False.1,0
0,4248ef,SVR522,United Kingdom,2022-02-22 15:28:36,2022-02-22 15:28:36,37.7853,55.4932,891.54,False,85.05,145.35,-4.88,NaN,746.76,10.0,False,0
1,471f8c,WZZ1550,Hungary,2022-02-22 15:28:28,2022-02-22 15:28:34,21.2426,45.9153,10668.00,False,231.00,111.42,-0.33,NaN,10553.70,6405.0,False,0
2,471f89,WZZ2276,Hungary,2022-02-22 15:28:34,2022-02-22 15:28:34,22.2773,46.0858,8557.26,False,221.14,102.90,-9.75,NaN,8473.44,4362.0,False,0
3,4248e6,SDM6413,United Kingdom,2022-02-22 15:28:35,2022-02-22 15:28:35,45.0040,56.1057,11277.60,False,264.11,92.23,0.00,NaN,10850.88,734.0,False,0
4,471f92,WZZ1166,Hungary,2022-02-22 15:28:35,2022-02-22 15:28:35,21.5623,46.6558,11285.22,False,232.25,84.02,0.33,NaN,11170.92,447.0,False,0

In [4]:
df.columns = ['f1','f2','f3','f4','f5','f6','f7','f8','f9','f10','f11','f12','f13','f14','f15','f16','f17']

In [5]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,f14,f15,f16,f17
0,4248ef,SVR522,United Kingdom,2022-02-22 15:28:36,2022-02-22 15:28:36,37.7853,55.4932,891.54,False,85.05,145.35,-4.88,NaN,746.76,10.0,False,0
1,471f8c,WZZ1550,Hungary,2022-02-22 15:28:28,2022-02-22 15:28:34,21.2426,45.9153,10668.00,False,231.00,111.42,-0.33,NaN,10553.70,6405.0,False,0
2,471f89,WZZ2276,Hungary,2022-02-22 15:28:34,2022-02-22 15:28:34,22.2773,46.0858,8557.26,False,221.14,102.90,-9.75,NaN,8473.44,4362.0,False,0
3,4248e6,SDM6413,United Kingdom,2022-02-22 15:28:35,2022-02-22 15:28:35,45.0040,56.1057,11277.60,False,264.11,92.23,0.00,NaN,10850.88,734.0,False,0
4,471f92,WZZ1166,Hungary,2022-02-22 15:28:35,2022-02-22 15:28:35,21.5623,46.6558,11285.22,False,232.25,84.02,0.33,NaN,11170.92,447.0,False,0

In [6]:
df['f3'].value_counts()

United Kingdom                               631037
Turkey                                       352006
United Arab Emirates                         156278
Poland                                       114341
Qatar                                         97393
                                              ...
Bosnia and Herzegovina                           51
The former Yugoslav Republic of Macedonia        39
Angola                                           19
South Africa                                     10
Kenya                                             6
Name: f3, Length: 92, dtype: int64